*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    background-color: black;

}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 90px;
    height: 90px;
}
.logo h1{
    color: #c7a416;
}
.menu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}
.menu a{
    text-decoration: none;
    margin:0 30px;
    font-size: 18px;
    color: #c7a416;
}
.menu a:hover{
    color: #d5c684;
}
.c-menu{
    margin-right: 10px;
    display: flex;
}
.c-menu ion-icon{
    color: #ffff;
    margin-right: 10px;
    font-size: 25px;
    cursor: pointer;
}
.sessao-1{
    background-image: url(img/coffe-corpo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}
.txt-1{
    margin-left: 15px;
    margin-top: 5;
    padding: 50px;
}
.txt-1 h1{
    color: #8e7617;
}
.txt-1 h2{
    color: #8e7617;
}

